## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
/build/
/public/build
/api/index.js
/api/index.js.map

## SECRETS ###########################################################
.env
.env.*
.vercel
