## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
logs
*.log

## GENERATED #########################################################
.output
.data
.nuxt
.nitro
.cache
dist

## SECRETS ###########################################################
.env
.env.*
!.env.example
.vercel
