name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          # This makes Actions fetch all git history so that Changesets can
          # generate changelogs with the correct commits.
          fetch-depth: 0

      # https://github.com/actions/setup-node
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci

      # https://github.com/changesets/action
      - name: Create release PR
        id: changesets
        uses: changesets/action@v1
        with:
          commit: Publish release
          title: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
